<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


	<!-- 定义RabbitMQ的连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}"
		password="${rabbitmq.password}" virtual-host="${rabbitmq.vhost}" />

	<!-- MQ的管理，包括队列、交换器等 -->
	<rabbit:admin connection-factory="connectionFactory"/>

	<rabbit:queue name="spring.queue" durable="true" />

	<!--声明交换机  durable:持久化，队列或交换机是否要存储到磁盘 也可以存储到内容 -->
	<rabbit:topic-exchange name="${rabbitmq.exchange}" auto-declare="true" durable="true" >
		<rabbit:bindings>
			<rabbit:binding pattern="spring.queue.syn" queue="spring.queue"/>
		</rabbit:bindings>
	</rabbit:topic-exchange>

	<!--定义消费者类 -->
	<bean id="springTestConsumer" class="com.done.app.SpringTestConsumer"/>


	<bean id="messageListenerContainer" class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<!--设置Message Listener为Adapter对象 -->
		<property name="messageListener" ref="springTestConsumer"/>
		<property name="queues" ref="spring.queue" />
		<property name="prefetchCount" value="5"/><!--prefetch是每次从一次性从broker里面取的待消费的消息的个数 -->
		<property name="concurrentConsumers" value="2"/><!--concurrency设置的是对每个listener在初始化的时候设置的并发消费者的个数-->
		<property name="exclusive" value="false"/>  <!--顺序消费此参数设置了true，且concurrentConsumers为1 -->
		<property name="receiveTimeout" value="5000"/>
	</bean>

	<!-- 定义模板 -->
	<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>
</beans>
